{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules":false,
        "targets":{
          "chrome":"73",
          "node":"16"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}